:root {
  --text-color: #ffffff;
  --main-color: 1B1B1B;
  --secondary-color: aquamarine;
  --spacing-l: 48px;
  --spacing-s: 12px;
  --spacing-m: 36px;
  --heading-font: "Dancing Script", cursive;
  --overall-font: "Roboto", sans-serif;
  --background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/083/265/original/image.png?1685100859");
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  body {
    padding: 10px 40px;
  }

  h1,
  h2 {
    font-size: 32px;
    text-align: center;
  }

  p {
    text-align: center;
  }
  .woman-art {
    display: none;
  }

  .box {
    display: none;
  }
  .myself {
    display: block;
  }

  .skills i {
    font-size: 6px;
  }
  .skills p {
    font-size: 6px;
  }

  .editing-skills img {
    max-width: 35px;
  }

  .editing-skills p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  nav ul {
    font-size: 10px;
    margin: 0;
  }
}

body {
  color: var(--text-color);
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/084/419/original/341250-Sunset-Starry-Night-Sky-Moon-Stars-Anime-Scenery.jpg?1685897766");
  padding: 30px 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-link {
  display: block;
  text-align: center;
  margin: 0 20px;
}
.woman-art {
  align-items: left;
  padding: 0 20px;
  height: 700px;
}

h1,
h2 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 50px;
  color: var(--text-color);
  text-align: center;
}

h1 {
  background: -webkit-linear-gradient(#eee, #58ced6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  margin-top: var(--spacing-m);
  font-size: 1.4em;
  font-family: var(--overall-font);
  display: block;
  margin: 0 0 1.5rem;
  text-align: center;
  font-weight: normal;
  line-height: 1.7;
}

ul {
  margin-top: var(--spacing-m);
  font-size: 1.4em;
  font-family: var(--overall-font);

  margin: 0 0 1.5rem;
  line-height: 1.7;
  text-align: left;
  font-weight: normal;
}
hr {
  background-color: aquamarine;
  border: 0;
  margin: 50px auto;
  width: 50%;
  height: 5px;
  border-radius: 5px;
  max-width: 700px;
  clear: both;
}

small {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  padding-left: 152px;
  gap: 30px;

  position: absolute;
  width: 102px;
  height: 18px;
  left: 800px;
  top: 475px;
}

a {
  text-decoration: none;
  color: aquamarine;
}
a:hover {
  color: var(--text-color);
  text-decoration: none;
}
.myBtn {
  border-radius: 4px;
  color: #ffffff;
  font-size: 18px;
  line-height: 27px;
  margin: 0 40%;
  padding: 5px 10px;
}

.content {
  color: #f65282;
}
.pictures {
  padding: 10px 5px;
}
.pictures h3 {
  color: #f65282;
  text-align: center;
}

.hero {
  height: 130vh;
  width: 100%;

  background-image: var(--background-image);
  background-size: cover;
}

.wrapper {
  position: relative;

  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  font-weight: 40px;
}
.intro {
  color: aquamarine;
}

.subject {
  background: -webkit-linear-gradient(#eee, #f65282);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box {
  --border-size: 4px;
  --border-angle: 0turn;
  width: 51vmin;
  height: 55vmin;
  background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-animation: bg-spin 3s linear infinite;
  animation: bg-spin 3s linear infinite;
}

@-webkit-keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

.box:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.hawaii,
.weather,
.nails {
  border: #08f;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
}

.rating {
  width: 308px;
  height: 40px;
  margin: 0 auto;
  padding: 40px 50px 40px;
  gap: 20px;
}
.rating label {
  float: right;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.rating label:not(:first-of-type) {
  padding-right: 2px;
}
.rating label:before {
  content: "\2605";
  font-size: 42px;
  color: #ccc;
  line-height: 1;
}
.rating input {
  display: none;
}
.rating input:checked ~ label:before,
.rating:not(:checked) > label:hover:before,
.rating:not(:checked) > label:hover ~ label:before {
  color: #f9df4a;
}
nav {
  font-size: 16px;
  padding: 20px 5px;
}

.logo {
  max-width: 250px;
  margin: 0;
  padding: 0;
  color: #58ced6;
}
nav li {
  line-height: 42px;
  display: inline;
  list-style: none;
  margin-left: 15px;
}
nav a {
  color: #ffffff;
  transition: all 100ms ease-in-out;
  text-decoration: none;
}

nav a:hover {
  color: #ffffff;
  color: var(--secondary-color);
}

nav ul {
  margin: -2px;
  padding: -2px;
}
nav li.active a {
  color: var(--secondary-color);
}
.little {
  font-size: 10px;
  padding-top: 10px;
}

.section {
  background: #eceff1;
  color: black;
}

footer {
  font-size: 16px;
  max-width: 100%;
  text-align: center;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;

  color: #555555;
}
footer a {
  color: #f65282;

  font-size: 20px;

  margin: 0 20px;
}

div .footer-socials {
  margin: 0 50px;
}

footer span {
  opacity: 0.5;
}

.p-travel,
.p-forecast,
.p-beauty {
  text-align: left;
}
.contact-details {
  color: #58ced6;
}

.speciality {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.speciality i {
  color: var(--secondary-color);
  font-size: 30px;
  text-align: center;
}

.speciality p {
  font-size: 14px;
}
